*.sublime-project
*.sublime-workspace
*.pyc
*.pkl
*.prm
*.so
*.swp
.DS_Store
neon/version.py
*@eaDir
.pkgs
*.egg-info
.venv
.coverage
build
*.gz
generated
*.ropeproject
*.cubin
*.hdf5
*.h5
*.html
*.txt
*.log
neon_help_output.txt
neon/backends/util/cuda_capability
neon/backends/kernels/ptx
neon/backends/kernels/pre
neon/backends/kernels/dump
