neon.sublime-project
neon.sublime-workspace
*.pyc
*.pkl
*.so
*.swp
.DS_Store
.tox
neon.egg-info
src
build
neon/version.py
MANIFEST
dist
doc/source/generated
*@eaDir
.pkgs/
hosts
neon/hyperopt/expt
.env
nosetests.xml
