configargparse==0.10.0
numpy==1.11.1
pyyaml==3.12
pep8==1.7.0
flake8==3.0.4
funcsigs==1.0.2
pytest==3.0.1
pytest-cov==2.3.1
pytest-mock==1.6.0
posix_ipc==1.0.0
pillow==3.3.1
pylint==1.6.4
sphinx==1.4.6
h5py==2.6.0
appdirs==1.4.3
future==0.15.2
tqdm==4.8.4
